:root {
  --font-family: system-ui, sans-serif;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
}

*[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

html,
body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 12px;
}

html.serial-connected main > div:first-child,
html.midi-connected main > div:last-child {
  background-color: rgba(0, 255, 0, 1);
}

html:not(.serial-connected) main > div:first-child,
html:not(.midi-connected) main > div:last-child {
  background-color: rgba(255, 0, 0, 1);
}

body {
  font-family: var(--font-family);
  /* background-color: white; */
  overflow: hidden;
}

body:before {
  content: "Mio";
  display: block;
  width: 100%;
  padding: 1rem;
  line-height: 1rem;
  text-align: center;
  box-sizing: border-box;
  background-color: black;
  color: white;
  -webkit-app-region: drag;
}

input {
  color: inherit;
}

label {
  text-transform: capitalize;
}

label,
input,
button {
  padding: 0.25rem;
}

input,
button {
  border-radius: 0.25rem;
  border: 1px solid #aaa;
  box-sizing: border-box;
  font-size: inherit;
}

input {
  display: inline-block;
  width: 2.5rem;
  width: 100%;
}

button {
  background-color: #ddd;
  text-transform: capitalize;
  cursor: pointer;
}

/* ui */

main > div > * {
  width: 100%;
}

main > div {
  padding: 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid gray;
  text-align: center;
}

main > div > *:not(:last-child) {
  margin-bottom: 1rem;
}

main > div > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

#log {
  padding: 1rem;
  text-transform: uppercase;
  background-color: white;
  color: black;
}

#ports {
  width: 100%;
}

/* fixes */

::-webkit-scrollbar {
  display: none;
}
